body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
footer{
    background-color: #b97b56;
/*    padding: 0 15%;*/
    height: 50px;
    width: 1000px;
    margin: 0 auto;
}
.ad{
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 24px;
    padding-top: 10px;
}

main{


}
.header{

    height: 290px;

}
.header__background{
    height: 230px;
    background-image: url(../img/header__bg.png);
}
.shop-name{
    color: #cb273f;
    text-align: center;
    font-size: 100px;
    font-family: 'Gloria Hallelujah', 'Arial', 'Sans-Serif', cursive;
    margin-block-start: 0;
    margin-block-end: 0;
}

a{
    text-decoration: none;
    color: black;
}


.header__menu{
    background-color: #c3c3c3;
    height: 60px;
}
.menu__list{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    padding: 0 50px;
}
.menu__list-item{
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
.discont{
    padding-left: 40px;
    float: left;
    padding-top: 18px;
}
.menu__list a:visited{
    color: black;
}
.order-form{
    padding-left: 40px;
    float: left;
    padding-top: 18px;
}
.contact-us{
    padding-left: 40px;
    float: left;
    padding-top: 18px;
}
.social__list{

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;

}
.social__list-item{
    display: inline-block;
    padding-left: 30px;

}
.facebook{
    float: left;
    padding-top: 12px;
}
.instagram{
    float: left;
    padding-top: 12px;
}
.telegram{
    float: left;
    padding-top: 12px;
}

.menu__list-item{
    float: left;
}

.social__list-item img{
    width: 35px;
    height: 35px;
/*
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
*/
}


.search{
    padding-left: 20px;
    float: left;
    padding-top: 17px;
}


/*CONTENT*/
.content__men_winter-page{
    text-align: center;
/*    background-color: dodgerblue;*/
/*    height: 600px;*/
}
.content__men_winter-page h1{
    font-size: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.content__men_winter-page-list-line1 clearfix{

}
.content__men_winter-page-item{
    list-style: none;
    float: left;
    padding-left: 32px;
}
ю



