body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper{
    padding: 0 15%;
}
.header{
    background-color: #585858;

}
.shop_name{
    color: #cb273f;
    text-align: center;
    padding-top: 30px;
    font-size: 44px;
    font-family: 'Gloria Hallelujah', cursive;
}
/*Фон шапки*/

.header__menu{
    background-color: #c3c3c3;
}
.menu__list{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}
.menu__list-item{
    display: inline-block;
    width: 120px;
    text-align: center;
}
.discont{
    padding-left: 70px;
}
.social__list{

}
.social__list-item{
    display: inline-block;

}
.icon__fb img{

}
.search{
   padding-left: 70px;

}

.content{

}
.block1__women_spring-summer-fall{
    background-color: #ffca18;
    height: 200px;
}
.block__title{
    font: 44px Arial;
    text-align: center;
    padding-top: 70px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.block2__men_spring-summer-fall{
    height: 200px;
    background-color: #c4ff0d;
}
.block3__women_winter{
    height: 200px;
    background-color: #3f47cc;
}
.block4__men_winter{
    height: 200px;
    background-color: #ff7f26;
}
.block5__about-shoes{
    height: 200px;
    background-color: #8cfffa;
}



footer{
    background-color: #b97b56;
    padding: 0 15%;
    height: 50px;
}
.ad{
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 24px;
    padding-top: 10px;
}
