body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
footer{
    background-color: #b97b56;
    padding: 0 15%;
    height: 50px;
}

main{


}
.header{

    height: 290px;

}
.header__background{
    height: 230px;
    background-color: #585858;
    background-image: url(img/header__bg.png);
}
.shop-name{
    color: #cb273f;
    text-align: center;
    font-size: 100px;
    font-family: 'Gloria Hallelujah', 'Arial', 'Sans-Serif', cursive;
    margin-block-start: 0;
    margin-block-end: 0;
}

a{
    text-decoration: none;
    color: black;
}


.header__menu{
    background-color: #c3c3c3;
    height: 60px;
}
.menu__list{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    padding: 0 50px;
}
.menu__list-item{
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
.discont{
    padding-left: 70px;
    float: left;
    padding-top: 18px;
}
.menu__list a:visited{
    color: black;
}
.order-form{
    padding-left: 70px;
    float: left;
    padding-top: 18px;
}
.order{
    padding-left: 70px;
    float: left;
    padding-top: 18px;
}
.social__list{

    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;

}
.social__list-item{
    display: inline-block;
    padding-left: 30px;

}
.facebook{
    float: left;
    padding-top: 12px;
}
.instagram{
    float: left;
    padding-top: 12px;
}
.telegram{
    float: left;
    padding-top: 12px;
}

.menu__list-item{
    float: left;
}

.social__list-item img{
    width: 35px;
    height: 35px;
/*
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
*/
}


.search{
    padding-left: 30px;
    float: left;
    padding-top: 17px;
}

.content{
 background-color: #fff;
}
.content h2{
    margin-block-start: 0;
    margin-block-end: 0;
}

.block1__women_spring-summer-fall{
/*    background-color: #ffca18;*/
    height: 194px;
    background-image: url(img/block1__women_spring-summer-fall.png);
}
/*
.title__block1 h2{
    font: 44px Arial;
    text-align: center;
    padding-top: 10px;
}
*/
/*
.block1__women_spring-summer-fall  a:hover{
    background-color: #00ff6c;

}
*/
.title__block1{
    font: 50px Arial;
    text-align: center;
    padding-top: 60px;
}

.block2__men_spring-summer-fall{
    height: 196px;
    background-image: url(img/block2__men_spring-summer-fall.png);
/*    margin-top: 100px;*/
/*    padding-top: 60px;*/
}

.title__block2{
    font: 50px Arial;
    text-align: center;
    padding-top: 30px;
    color: #fff;
}
/*
.block2__men_spring-summer-fall a:hover{
    height: 300px;
    background-color: #0dff57;
}
*/
.block3__women_winter{
    height: 191px;
    background-image: url(img/block3__women_winter.png);
}
.title__block3{
    font: 50px Arial;
    text-align: center;
    padding-top: 65px;
    color: #fff;
    color: #f6ff00;
}

.block4__men_winter{
    height: 300px;
    background-color: #ff7f26;

}
.block5__about-shoes{
    height: 200px;
    background-color: #8cfffa;
    padding: 0 50px;
}
.block__title_about{
    font: Arial, Impact, Sans-Serif;
    font-size: 24px;
    text-align: center;
    padding: 40px;
}

.ad{
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 24px;
    padding-top: 10px;
}


/*СТРАНИЦА Женская обувь (Весна/Лето/Осень)*/
.content__women_spring-summer-fall-page{
    height: 800px;
    background-color: #ffca18;
}
.content__women_spring-summer-fall-page h1{
    text-align: center;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.content__women_spring-summer-fall-page  p{
    text-align: center;
}
/*Мужская зимняя обувь*/

.content___men_winter-page{
    height: 600px;
    background-color: aqua;
    width: 1000px;
    text-align: center;
}
.content___men_winter-page h1{
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
}



/*АКЦИИ*/
.content__discont-page{
    height: 800px;
    background-color: #ffca18;
}
.content__discont-page h1{
    text-align: center;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.content__discont-page p{
    text-align: center;
}



